.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}
body {
  color: #000;
}
section.title {
  margin: 0;
  padding: 0;
}
section.title span {
  display: none;
}
section.title h1 {
  font-weight: 600;
}
section.content {
  padding-top: 0;
}
section.content div.article-content a.headerlink {
  display: none;
}
section.content div.article-content a {
  box-shadow: none;
  border-bottom: 0;
  font-style: italic;
  font-weight: 800;
}
section.content div.article-content h1 {
  font-weight: 600;
}
section.content div.article-content h2 {
  font-weight: 500;
  font-size: 1.4em;
}
section.content div.article-content h3 {
  font-weight: 500;
  font-size: 0.94em;
}
section.content img {
  page-break-inside: avoid;
  max-width: 100% !important;
  box-shadow: none;
  border: none;
}
section.content table.highlighttable {
  width: 100%;
  page-break-inside: avoid;
}
section.content ol.print-links {
  font-size: 0.8em;
  counter-reset: item;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section.content ol.print-links li {
  line-height: 1.5em;
}
section.content ol.print-links li:before {
  position: absolute;
  left: 1.3em;
  content: 'L' counter(item, decimal) '. ';
  counter-increment: item;
}
section.content div.admonition.border-box {
  display: block;
  border: 2px solid #000;
  page-break-inside: avoid;
}
#comments,
#connect,
#navbar-top,
#share {
  display: none;
}
a.simple-footnote-back {
  display: none;
}
